@import url('reset.css');

header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 32px;
    margin-bottom: 5px;
}

header div {
    display: flex;
    align-items: center;
}

.hdr-box-left, .hdr-box-right {
    justify-content: space-around;
    width: 150px;
    height: 40px;
    background: #ffffff;
}

.box-search input {
    width: 350px;
    height: 35px;
    border: 1px solid #ccc;
}

.box-button {
    justify-content: center;
    width: 50px;
    height: 35px;
    border: 1px solid #ccc;
    background: #f8f8f8;  
    border-left: 0;  
}

main {
    display: flex;
    flex-flow: row nowrap;
    min-height: 80vh;
    margin: 0 7vw;
    margin-bottom: 2vh;
}

.watching-video {
    min-width: 65vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    gap: 16px;
}

.video-container, .video-container img {
    width: 100%;
}

.title-container {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.video-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2px 0;
    gap: 2vw;
}

#channel-infos {
    display: flex;
    align-items: center;
    gap: 12px;
}

#channel-infos span a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#channel-infos #subscriptions {
    color: #515151;
    font-weight: 400;
    font-size: 12px;
}

#button-subscribe {
    background: #cc0000;
    width: 159px;
    height: 40px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;
}

#button-subscribe a {
    background: #cc0000;
    color: #ffffff;
    text-decoration: none;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
}

.buttons a {
    text-decoration: none;
    color: #000;
}

.views-and-date {
    font-size: 14px;
    font-weight: 600;
    padding: 2px 0;
}

.views-and-date span {
    margin-right: 1vw;
}

.video-description {
    display: flex;
    width: 80%;
    flex-direction: column;
    color: #515151;
    font-size: 14px;
    padding: 2px 0;
}

aside {
    width: 30vw;
    margin-left: 1vw;
}

.suggestions-container {
    width: 100%;
    gap: 5px;
    display: inline-flex;
    padding-bottom: 10px; 
}

.suggestions-container img {
    height: 100%;
    margin-right: 8px;
    border-radius: 7px;
}

.suggestion-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.suggestion-description .title {
    font-size: 14px;
    font-weight: 600;
}

.suggestion-description .title a {
    text-decoration: none;
    color: #000;
}

.suggestion-description .subtitle {
    color: #515151;
    font-size: 12px;
}